
:root{
  --color-oscuro: #0a0908;
  --color-claro: #eae0d5;
  --color-enlace: #2B6F8E;
}

html{
    font-size: 20px;
    font-family: 'Phudu', cursive;
    background-color: var(--color-oscuro);
    color: var(--color-claro);
}

a{
color: var(--color-enlace);
transition: all 0.3s ease-out;  
}

a:hover{
color: var(--color-claro);
}

img{
  max-width: 100%;
}

iframe{
width: 100%;
}

table{
  width: 100%;
}

.lineas{
  border: 3px double var(--color-claro);
}

.color-enlace-var{
 color: var(--color-enlace);
}



.img-kenny{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  }


.text-center{
    text-align: center;
  }